.product-list-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}

/* Product Grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    justify-content: center;
    justify-items: center;
}


/* Product Card */
.product-card {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    border: 1px solid var(--gold);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    width: 300px;
    height: 450px;
    box-sizing: border-box;
    gap: 5px;

}

.product-card:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

/* Product Image */
.product-image img {
    width: 100%;
    height: auto;
}

/* Product Details */
.product-details {
    text-align: center;
}

.product-name {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: white;
    line-height: 1.4;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-price {
    color: #d4af37;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: auto;
}

/* Product Actions */
.product-actions {
    margin-top: auto;
    text-align: center;
    width: 100%;
}

.add-to-cart-btn {
    background-color: #b79530;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.add-to-cart-btn:hover {
    background-color: #d4af37;
}

/* Sort Dropdown */
.sort-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-label {
    font-size: 1.2rem;
    color: var(--gold);
    font-weight: bold;
    margin-right: 0.5rem;
    white-space: nowrap;
}

.sort-dropdown {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #d4af37;
    border-radius: 5px;
    cursor: pointer;
    background: white;
    color: black;
    appearance: none;
    outline: none;
    transition: border-color 0.3s ease;
    text-align: center;
    width: 190px;
}

.sort-dropdown:hover,
.sort-dropdown:focus,
.sort-dropdown:option {
    border-color: #d4af37;
}

.filter-sort-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1.5rem;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-label {
    font-size: 1.1rem;
    color: var(--gold);
    font-weight: bold;
    margin-right: 0.5rem;
}

.filter-dropdown {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #d4af37;
    border-radius: 5px;
    cursor: pointer;
    background: white;
    color: black;
    appearance: none;
    outline: none;
    transition: border-color 0.3s ease;
    text-align: center;
    width: 150px;
}

.filter-dropdown:hover,
.filter-dropdown:focus {
    border-color: #d4af37;
}