<footer class="footer">
    <div class="container">
        <div class="footer-logo">
            <img src="../../../assets/dhanlaxmi-high-resolution-logo_2.png" alt="DhanLaxmi">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry.</p>
        </div>

        <div class="footer-contact">
            <h4>CONTACT US</h4>
            <ul>
                <li>Address :
                    <br>
                    Secure Link Services BD Ltd.
                    Midas Center, H-05, R-16 (New)
                    Dhanmondi, Dhaka-1209,
                    Bangladesh
                </li>
                <li>Phone : +880 18328 29995
                </li>
                <li>Email : demo&#64;gmail.com
                </li>
            </ul>
        </div>

        <div class="footer-service">
            <h4>CUSTOMER SERVICE</h4>
            <ul>
                <li>Shipping policy</li>
                <li>Return policy</li>
                <li>Terms and conditions</li>
                <li>Your account</li>
                <li>Contact us</li>
            </ul>
        </div>

        <div class="footer-account">
            <h4>MY ACCOUNT</h4>
            <ul>
                <li>My Account</li>
                <li>Login</li>
                <li>My Cart</li>
                <li>Wishlist</li>
                <li>Checkout</li>
            </ul>
        </div>

        <div class="footer-information">
            <h4>INFORMATION</h4>
            <ul>
                <li>About Us</li>
                <li>Delivery Information</li>
                <li>Privacy & Policy</li>
                <li>Terms & Conditions</li>
                <li>Manufacturers</li>
            </ul>
        </div>
    </div>
</footer>