.header {
    background-color: var(--black);
    border-bottom: 2px solid var(--gold);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 90px;
    width: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 1rem;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    margin: 0;
    padding: 0;
}

.nav ul li {
    position: relative;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav ul li a {
    text-decoration: none;
    color: var(--gold);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav ul li:hover {
    transform: translateY(-3px);
    opacity: 0.9;
}

.nav ul li a:hover {
    transform: scale(1.1);
    color: var(--gold-hover);
}

.nav ul li::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--gold-hover);
    transition: width 0.3s ease;
}

.nav ul li:hover::after {
    width: 100%;
}

.nav ul li a.active {
    color: white;
}

.nav ul li a:not(.active):hover {
    color: var(--gold-hover);
}

.cart {
    position: relative;
}

.cart-icon img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: var(--gold);
    color: var(--white);
    font-size: 0.8rem;
    border-radius: 50%;
    padding: 2px 6px;
    font-weight: bold;
}

.cart-user-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.user-auth {
    position: relative;
    display: flex;
    align-items: center;
}

.auth-button {
    background-color: var(--gold);
    color: var(--black);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-button:hover {
    background-color: var(--gold-hover);
}

.user-icon {
    font-size: 1.8rem;
    color: var(--gold);
    cursor: pointer;
    transition: color 0.3s ease;
}

.user-icon:hover {
    color: var(--gold-hover);
}

.user-dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 110%;
    right: -55px;
    background-color: var(--dark-gray);
    border: 1px solid var(--gold);
    border-radius: 5px;
    padding: 1rem;
    text-align: left;
    width: 250px;
    display: none;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(10px);
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu p {
    margin: 0;
    font-weight: bold;
    color: var(--gold);
    margin-bottom: 1rem;
}

.dropdown-menu button {
    background-color: var(--gold);
    color: var(--black);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
}

.dropdown-menu button:hover {
    background-color: var(--gold-hover);
}

.mobile-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.mobile-menu .bar {
    background-color: var(--gold);
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: var(--transition);
}

.search-container {
    position: relative;
    width: 100%;
}

.search-container input {
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-container input:focus {
    border-color: var(--gold);
    box-shadow: 0 0 5px var(--gold);
}

.search-results {
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 250px;
    overflow-y: auto;
    z-index: 1000;
    width: 100%;
    padding: 0;
}

.search-results ul {
    list-style-type: none;
    background-color: var(--dark-gray);
    margin: 0;
    padding: 0;
}

.search-results li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.search-results li:hover {
    font-weight: bold;
    color: var(--gold);
    background-color: black;
}

.search-results li button {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    padding: 10px;
    text-align: left;
    font-size: 1rem;
    color: var(--white);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.search-results li button:hover {
    background-color: var(--gold);
    color: var(--black);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--dark-gray);
        border-top: 2px solid var(--gold);
    }

    .nav ul {
        justify-content: center;
        height: 50px;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }

    .nav ul li a {
        font-size: 0.9rem;
    }

    .nav.active {
        display: flex;
    }

    .mobile-menu {
        display: flex;
    }

    .logo img {
        max-height: 65px;
    }
}