<div class="product-details">
    <h1 class="product-title">{{ product.name}}</h1>

    <div class="product-container">
        <div class="product-image">
            <img [src]="product.image" alt="{{ product.name }}" />
        </div>

        <div class="product-info">
            <h2 class="price">
                <span class="new-price">{{ totalPrice | currency:'USD' }}</span>
            </h2>
            <p class="product-description">
                Porttitor magna cras vel libero hendrerit vel nam in sapien id urna egestas cursus. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris. Duis aute irure dolor in reprehenderit in voluptate.
            </p>

            <div class="product-actions">
                <div class="quantity-selector">
                    <button class="quantity-btn" (click)="decreaseQuantity()">-</button>
                    <input type="text" [value]="quantity" (input)="onQuantityInput($event)"
                        (change)="onQuantityChange()" class="no-arrows" />
                    <button class="quantity-btn" (click)="increaseQuantity()">+</button>
                </div>
                <button class="btn-primary add-to-cart" (click)="addToCart()" [disabled]="quantity <= 0">Add to
                    Cart</button>
            </div>
        </div>
    </div>
</div>