<div class="product-details">

    <h1 class="product-title">Twin Modal Diamond Ring</h1>

    <div class="product-container">
        <div class="product-image">
            <img src="../../../assets/twin-modal-diamond-ring.jpg" alt="Twin Modal Diamond Ring" />
        </div>

        <div class="product-info">
            <h2 class="price">
                <!-- <span class="old-price">$123.00</span> -->
                <span class="new-price">$99.00</span>
            </h2>
            <p class="product-description">
                Porttitor magna cras vel libero hendrerit vel nam in sapien id urna egestas cursus. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris. Duis aute irure dolor in reprehenderit in voluptate.
            </p>

            <div class="product-actions">
                <div class="quantity-selector">
                    <button class="quantity-btn" onclick="decreaseQuantity()">-</button>
                    <input type="text" id="quantity-input" value="1" min="1" />
                    <button class="quantity-btn" onclick="increaseQuantity()">+</button>
                </div>
                <button class="btn-primary add-to-cart">Add to Cart</button>
            </div>
        </div>
    </div>
</div>