.mainBody {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: #fff;
    -ms-overflow-style: none;
}

.mainBody::-webkit-scrollbar {
    width: 8px;
}

.mainBody::-webkit-scrollbar-track {
    background: #333;
}

.mainBody::-webkit-scrollbar-thumb {
    background-color: #b79530;
    border-radius: 4px;
}

.mainBody::-webkit-scrollbar-thumb:hover {
    background-color: #d4af37;
}